
.header{
  background: tan;
  position: relative;
  height: 15vh;
  width: 100%;
  border: 2px solid black;
  font-size: 7rem;
  text-align: center;
}
.gameAndStats{
  display: flex;
  height: 80vh;
  width: 100%;
}
.gamespace{
  background-color: blue;
  display: flex;
  width: 85%;
  height:100%;
  border: 2px solid black;
}
.stats{
  font-size: 2rem;
  margin: 2px;
  text-align: center;
  background-color: burlywood;
  width: 15%;
  height: 100%;
  border: 2px solid black;
}
.twoPlayers{
  display: inline-block;
  height: 60%;
  width:  90%;
  border: 2px solid black;
  margin: 8px;
}
.players{
  height: 46%;
  width: 90%;
  display: inline-block;
   border: 2px solid black;
   margin: 6px;
}
.players:nth-child(2){
margin-bottom: 2px;
}
.gameInfo{
  display: inline-block;
  height: 35%;
  width: 90%;
  border: 2px solid black;
  margin-top: 10px;
}
.square{
  height: 16%;
  width: 11.75vw;
  border: 2px solid black;
}
.red{
  background-color: red;
}
.yellow{
  background-color: yellow;
}
