body{
  overflow: hidden;
}
.header{
  background: tan;
  position: relative;
  height: 20vh;
  width: 100%;
  /* margin: 5px; */
}
.gameAndStats{
  display: flex;
  height: 80vh;
  width: 100%;
}
.gamespace{
  background-color: blue;
  display: flex;
  width: 80%;
  height:100%;
}
.stats{
  background-color: burlywood;
  width: 20%;
  height: 100%;
  border: 2px solid black;
}
.players{
height: 30%;
width:80%
border: 2px solid black;
}
.gameInfo{
  height: 40%;
  width:100%;
  border: 2px solid black;
}
