body{
  margin: 30px;
}

header{
    background: blue;
    height: 15vh;
    width: 100%;
    border: 2px solid black;
    font-size: 8vmin;
    text-align: center;
}
.gameAndStats{
    display: flex;
    height: 85vh;
    width: 100%;
    border: 2px solid black;
}
.gamespace{
    background-color:blue;
    display: flex;
    width: 85%;
    height: 100%;
}
.stats, .optionModal{
  position: relative;
  font-size: 3vmin;
  text-align: center;
  background-color: blue;
  width: 15%;
  height: 100%;
}
.twoPlayers{
  display: inline-block;
  height: 60%;
  width:  90%;
  border: 2px solid black;
  margin: 8px;
}
.players{
  height: 46%;
  width: 90%;
  display: inline-block;
   border: 2px solid black;
   margin: 6px;
}
.players:nth-child(2){
margin-bottom: 2px;
}
.gameInfo{
    display: inline-block;
    height: 20%;
    width: 90%;
    border: 2px solid black;
}
.square{
    height: 15%;
    width: 8.75vw;
    border: 2px solid black;
    border-radius: 68%;
    margin: 1.5% 10%;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
}

.red {
  background-color: red;
}
.yellow {
  background-color: yellow;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.chartreuse {
  background-color: chartreuse;
}
.hotPink {
  background-color: hotpink;
}
.rebeccaPurple {
  background-color: rebeccapurple;
}
.modalContent {
  display: flex;
  flex-direction: column;
}
.modalContent, .choiceContainer {
  width: 100%;
  display: flex;
  margin: 2%;
}
.modalTitle {
  align-items: flex-start;
}
#optionModal {
  background-color: cadetblue;
  z-index: 1;
  width: 120%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}
.choiceContainer {
  flex-wrap: wrap;
}
.choice {
  height: calc(85vh * 0.08);
  width: calc(85vh * 0.08);
  margin: 3%;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid black 1px;
  opacity: 0.7;
}
.iconSelectionImage {
  background: url(/image/star_wars_icon.jpg) no-repeat;
}
.icon0 {
  background-size: 1000% 800%;
  background-position: 5% 19.5%;
}
.icon1 {
  background-size: 780% 700%;
  background-position: 16.4% 19.3%;
}
.icon2 {
  background-size: 900% 720%;
  background-position: 29.7% 19.5%;
}
.icon3 {
  background-size: 1100% 700%;
  background-position: 42.5% 19%;
}
.icon4 {
  background-size: 1150% 720%;
  background-position: 52.8% 19.8%;
}
.icon5 {
  background-size: 1050% 720%;
  background-position: 63.8% 19.5%;
}
.icon6 {
  background-size: 780% 700%;
  background-position: 78% 19.2%;
}
.icon7 {
  background-size: 1140% 700%;
  background-position: 5.7% 38.2%;
}
.icon8 {
  background-size: 950% 650%;
  background-position: 26.5% 37.5%;
}
.icon9 {
  background-size: 1200% 750%;
  background-position: 37.8% 39.5%;
}
.icon10 {
  background-size: 1150% 850%;
  background-position: 58.6% 39.5%;
}
.icon11 {
  background-size: 1050% 780%;
  background-position: 71% 39%;
}
.icon12 {
  background-size: 950% 780%;
  background-position: 84% 39%;
}
.icon13 {
  background-size: 1150% 800%;
  background-position: 95.5% 39.5%;
}
.icon14 {
  background-size: 1150% 850%;
  background-position: 5% 57.5%;
}
.icon15 {
  background-size: 820% 700%;
  background-position: 25.9% 58.2%;
}
.icon16 {
  background-size: 1300% 680%;
  background-position: 39.8% 58%;
}
.icon17 {
  background-size: 1000% 750%;
  background-position: 52% 58.5%;
}
.icon18 {
  background-size: 680% 820%;
  background-position: 65.6% 59.5%;
}
.icon19 {
  background-size: 900% 680%;
  background-position: 81.3% 59%;
}
.icon20 {
  background-size: 920% 750%;
  background-position: 93.5% 58.8%;
}
.icon21 {
  background-size: 1050% 780%;
  background-position: 18% 77%;
}
.icon22 {
  background-size: 850% 680%;
  background-position: 30% 77.5%;
}
.icon23 {
  background-size: 850% 680%;
  background-position: 42% 77.5%;
}
.icon24 {
  background-size: 1100% 780%;
  background-position: 56% 77.5%;
}
.icon25 {
  background-size: 1100% 800%;
  background-position: 68.5% 77.5%;
}
.icon26 {
  background-size: 750% 700%;
  background-position: 81.5% 78%;
}
.selected1, .selected2 {
  opacity: 1;
  border: solid 1;
}
.selected1 {
  border-color: cyan;
}
.selected2 {
  border-color: lightcoral;
}
.show {
  display: flex;
}
.hide {
  display: none;
}
